/*
	Demo Styles: NOT REQUIRED
*/
html,
body {
  margin: 0;
  height: 100%;
  font-family: "Rokkitt";
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a.active {
  color: #000;
  text-decoration: underline;
}

h1,
p {
  margin: 0;
  padding: 0;
}

header {
  position: fixed;
  top: 10px;
  left: 10px;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #EFEFEF;
}

.panel {
  height: 100%;
  /* makes panels the entire window height */
}

.blue {
	background-color: #3883d8;
}
.turqoise {
	background-color: #38ced7;
}
.brown {
	background-color: #a66f28;
}
.bordeaux {
	background-color: #953543;
}
.skin {
	background-color: #ED9F4C;
}
.black {
	background-color: #000000;
}
.white {
	background-color: #FFFFFF;
}
.red {
	background-color: #cf3535;
}
.green {
	background-color: #22d659;
}
.orange {
	background-color: #ea6300;
}
